
  nav {
    background: Peru;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: saddlebrown;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    color: white;
  }

  #announcement {
    color: black;
  }

  .btn {
    background: saddlebrown;
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    background: palegoldenrod;
    color: saddlebrown
  }

  .logo,
  .header {
    font-family: 'Lobster', cursive;
  }

  .pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .dropdown-content li > a {
    color: saddlebrown;
  }

  input:not([type]):focus:not([readonly])+label,
  .form-wrap input[type=text]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=password]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=email]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=url]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=time]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=date]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=tel]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=number]:not(.browser-default):focus:not([readonly])+label,
  .form-wrap input[type=search]:not(.browser-default):focus:not([readonly]) + label,
  .form-wrap textarea.materialize-textarea:focus:not([readonly])+label,
  input[type="search"]:focus:not(.browser-default):not([readonly])+label,
  .input-field .prefix.active {

    color: saddlebrown; /* after animation color change css */

  }

  .form-wrap input:focus:not([type]):not([readonly]),
  .form-wrap input[type="text"]:focus:not(.browser-default):not([readonly]),
  .form-wrap input[type="password"]:focus:not(.browser-default):not([readonly]),
  input[type="email"]:focus:not(.browser-default):not([readonly]),
  .form-wrap input[type="url"]:focus:not(.browser-default):not([readonly]),
  input[type="time"]:focus:not(.browser-default):not([readonly]),
  .form-wrap input[type="date"]:focus:not(.browser-default):not([readonly]),
  input[type="datetime"]:focus:not(.browser-default):not([readonly]),
  .form-wrap input[type="datetime-local"]:focus:not(.browser-default):not([readonly]),
  input[type="tel"]:focus:not(.browser-default):not([readonly]),
  .form-wrap input[type="number"]:focus:not(.browser-default):not([readonly]),
  input[type="search"]:focus:not(.browser-default):not([readonly]),
  .form-wrap textarea.materialize-textarea:focus:not([readonly]),
  input.valid:not([type]),
  input.valid:not([type]):focus,
  input[type=text].valid:not(.browser-default),
  input[type=text].valid:not(.browser-default):focus,
  textarea.valid:not(.browser-default),
  textarea.valid:not(.browser-default):focus,
  input[type=password].valid:not(.browser-default),
  input[type=password].valid:not(.browser-default):focus,
  input[type=email].valid:not(.browser-default),
  input[type=email].valid:not(.browser-default):focus,
  input[type=url].valid:not(.browser-default),
  input[type=url].valid:not(.browser-default):focus,
  input[type=time].valid:not(.browser-default),
  input[type=time].valid:not(.browser-default):focus,
  input[type=date].valid:not(.browser-default),
  input[type=date].valid:not(.browser-default):focus,
  input[type=datetime].valid:not(.browser-default),
  input[type=datetime].valid:not(.browser-default):focus,
  input[type=datetime-local].valid:not(.browser-default),
  input[type=datetime-local].valid:not(.browser-default):focus,
  input[type=tel].valid:not(.browser-default),
  input[type=tel].valid:not(.browser-default):focus,
  input[type=number].valid:not(.browser-default),
  input[type=number].valid:not(.browser-default):focus,
  input[type=search].valid:not(.browser-default),
  input[type=search].valid:not(.browser-default):focus,
  textarea.materialize-textarea.valid,
  textarea.materialize-textarea.valid:focus,
  .select-wrapper.valid>input.select-dropdown,
  .input-field input[type=text]:focus,
  .input-field input[type=search]:focus {

    color: saddlebrown;
    border-bottom: 1px solid saddlebrown;
    box-shadow: 0 1px 0 0 saddlebrown; /* after animation color change css */
  }

  .pathing {
    margin-top: 30px;
  }

  #taskWin {
    border: 1px solid Peru;
    border-radius: 3px;
    min-height: 600px;
    margin-bottom: 40px;
  }

  #chatWin,
  #chatInputWin {
    border: 1px solid Peru;
    border-radius: 3px;
    margin-left: 30px;
    text-align: right;
    height: 380px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #chatInputWin{
    height: 220px;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  #chatBtn {
    margin-bottom: 30px;
    background-color: saddlebrown;
  }

  .taskText {
    padding: 10px 50px 0 50px;
    margin-bottom: 30px;
  }

  .taskDrop {
    margin-top: 5px;
    width: 175px;
  }

  #timeBox {
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;

  }

  .bar {
    margin: 5px 50px;
    width: 87%;
    height: 35px;
    background: peru;
  }

  .progress .determinate {
    padding-top: 6px;
    background-color: palegoldenrod;
    border-left: 1px solid palegoldenrod;
    border-right: 1px solid palegoldenrod;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
  }

  .barText {
    color: saddlebrown;
    text-align: center;
    padding: auto;
    margin: auto;
  }

  @keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
  }

  .chatMessage {
    margin: 8px;
    text-align: center;
    padding: 10px;
    background-color: ivory;
    border: 1px solid saddlebrown;
    border-radius: 25px;
  }

  #searchBar,
  #mainPageWrap,
  #welcomeText {
    border: 1px solid Peru;
    border-radius: 3px;
    margin-top: 50px;

  }

  #mainPageWrap {
    padding: 30px 0;
    min-height: 400px;
    margin-bottom: 50px;
  }

  #welcomeText {
    padding: 70px;
    height: 400px;
    margin-bottom: 50px;

  }

  th:hover {
    cursor: pointer;
  }

  .material-icons {
    margin: 0;
    padding: 0;
    cursor: default;
  }

  .gitAuth {
    position: relative;
    background-color: black;
    color: white;
    margin: auto;
    padding-top: 10px;
    width: 380px;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 30px;
    padding-left: 40px;
  }

  #gitLogo {
    position: absolute;
    width: 35px;
    left: 65px;
    top: 3px;
  }

  .gitAuth:hover {
    cursor: pointer;
    background-color: black;
  }

  .faqHead,
  .faqText {
    font-family: 'Catamaran', sans-serif;
  }

  .faqHead {

    margin-top: 30px;

  }

  .section{
    min-height: 590px;
  }

  .footerLi {
    padding-bottom: 3px;
  }

  .page-footer {
    background-color: Peru;

  }

  .footerGitLogo {
    width: 60px;
  }

  .gitAvatarImg {
    width: 20px;
    border-radius: 4px;
  }

  [type="radio"]:checked+label:after,
  [type="radio"].with-gap:checked+label:after,
  [type="radio"]:checked+label:after,
  [type="radio"].with-gap:checked+label:before,
  [type="radio"].with-gap:checked+label:after {

    background-color: saddlebrown;
    border-color: saddlebrown;
  }

  input:not([type]):focus:not([readonly]),
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=url]:not(.browser-default):focus:not([readonly]),
  input[type=time]:not(.browser-default):focus:not([readonly]),
  input[type=date]:not(.browser-default):focus:not([readonly]),
  input[type=datetime]:not(.browser-default):focus:not([readonly]),
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  input[type=tel]:not(.browser-default):focus:not([readonly]),
  input[type=number]:not(.browser-default):focus:not([readonly]),
  input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {


    border-bottom: 1px solid saddlebrown;
    -webkit-box-shadow: 0 1px 0 0 saddlebrown;
    box-shadow: 0 1px 0 0 saddlebrown;
  }

  input[type=text]:not(.browser-default):focus:not([readonly])+label,
  input[type=number]:not(.browser-default):focus:not([readonly])+label,
  textarea.materialize-textarea:focus:not([readonly])+label {
    color: saddlebrown;
  }

  #add-task {
    color: white;

  }

  #add-task:hover {

    color: saddlebrown;
  }

  .modal .modal-footer {
    text-align: center;
    height: 80px;
  }

  #newTaskRadio1,
  #newTaskRadio2,
  #newTaskRadio3 {
    padding-left: 90px;
  }

  .modal h4 {
    text-align: center;

  }

  #projectDrop {

    width: 290px !important;
    max-height: 450px !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #new-developer {

    max-height: 350px !important;
    overflow: hidden;
  }

  .white-text {
    color: white !important;
  }

  #developerDrop{
    margin-left: 30px !important;
  }

  #change-developer{
    min-width: 200px;
  }

  .taskBtns{
    padding-left: 50px;
    margin-left: 30px;

  }
